//
// Brand buttons
//


// Color variations

@each $color, $value in $brand-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

.btn-cancel {
  background-color: crimson;
  color: white;
}

.btn-cancel:hover {
  background-color: crimson;
  color: white;
}

.btn-register {
  color: white;
  background-color: #2a4d89;
}

.btn-register:hover {
  background-color: #2a4d89;
  color: white;
}

.btn-register:active {
  background-color: #2a4d89;
  color: white;
}

.previous-btn, .next-btn {
  color: white;
  background-color: #2a4d89;
  padding: 2px;
  font-size: 13px;
  width: 105px;
  margin: 5px;

}

.next-btn {
  border-radius: 0px 50% 50% 0px;
}

.previous-btn {
  border-radius: 50% 0 0 50%;
}
