//
// Modal
//

@import "modals/modal";

.select-modal-add {
  width: 35vh;
}

.select-modal-edit {
  width: 30vh;
}

.input-modal-underthematic-add {
  width: 40vh;
}

.input-modal-thematic-label {
  width: 50vh;
}

.modal-body-add-thematic {
  width: 27%;
}

.modal-body-underthematic-add {
  width: 33%;
}
